/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 11, 2022, 3:00:45 PM
    Author     : ADMIN
*/

.form-control{
    display: inline-block;
    width: 75%;
    
}


.form-group{
    display: flex;
    justify-content: space-between   ;
    padding: 10px;
    gap: 10px;
    
}

