.right_content {
    width: 100%;
    padding: 3% 5%;
}

.right_content h1{
    font-size: 45px;
}

.link {
    margin-left: 20%;
}

form {
    font-size: 1rem;
}

label{
    display: block;
    margin-bottom: 10px;
}

input[type="text"], select, textarea {
    font-size: 1rem;
    padding: 5px;
    outline: none;
    display: block;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #6b6b6b;
    transition: 0.25s ease-in-out;
}

input[type="text"]:focus, select:focus, textarea:focus{
    border-color: #0056d2;
    box-shadow: 0 0 3px 3px rgba(142, 181, 235, .5);
}

table {
    display: table;
    width: 100%;
}

textarea{
    resize: none;
    width: 70%;
    height: 100px;
}

.image_swiper {
    width: 100%;
    margin: 50px auto;
}

input[type="submit"]{
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
    padding: 8px;
    border-radius: 8px;
}

.slider__submit{
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.navigate {
    display: inline-block;
}

.image_option {
    width: 200px;
    height: 200px;
}

/*img {
	width: 80%;
    height: 150px;
}*/

input[type=file] {
	margin-bottom: 10px;
    font-size: 1rem;
	/* background: #2d2d2d; */
	/* display: block; */
}

footer{
    margin-top: 100px;
}

