.right h1{
    font-size: 30px;
}

.right h1 i{
    margin-right: 10px;
}

.right_content{
    padding: 30px;  
    margin-bottom: 54px;
}

.setting_list{
    display: table;
    width: 100%;
    margin-top: 20px;
}

.setting_tool{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f6fb;
}

.search_form{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_filter{
    width: 30%;
    display: flex;
    margin-top: 15px;
}

.search_form select{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.search_form button{
    /*height: 44px;*/
    padding: 15px;
    font-size: 0.9rem;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #0056d2;
    border: none;
    color: #fff;
    cursor: pointer;
}

#search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .setting_tool select, .setting_tool input{
    display: block;
} */

.add_setting{
    display: flex;
    align-items: center;
}

.add_setting a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #1fe21e;
    border-radius: 10px;
    transition: all 0.25s ease;
}

form .search__item{
    margin-right: 10px;
}

.search__item{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search__item label{
    font-size: 0.8rem;
}

.search__item input{
    display: block;
    height: 55px;
    outline: none;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.add_setting a:hover{
    background-color: #a4e049;
}

table{
    border-collapse: collapse;
    box-shadow: 0  0 10px 5px #e1e5ee;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    font-family: Mukta, sans-serif;
    display: table;
    width: 100%;
}

thead{
    box-shadow: 0 5px 10px #e1e5ee;
}

th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

td{
    padding: 1rem;
}

tr{
    width: 100%;
}

tr td:nth-child(1){
    width: 20%;
}

tr td:nth-child(2){
    width: 10%;
}

tr td:nth-child(3){
    width: 20%;
}

tr td:nth-child(4){
    width: 10%;
}

td a{
    text-decoration: none;
    font-size: 0.8rem;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    transition: all 0.25s ease;
}

.link__view{
    background-color: lightblue;
}

.link__view:hover{
    background-color: #73c3dd;
}

.link__edit{
    background-color: #ddd;
}

.link__edit:hover{
    background-color: #aaa; 
}

.user__inactive{
    font-size: 0.8rem;
    background-color: #fbc0c0;
    padding: 5px;
    color: #d03737;
    border-radius: 5px;
}

.user__active{
    font-size: 0.8rem;
    background-color: #c0fbd1;
    padding: 5px;
    color: #3da313;
    border-radius: 5px;
}

.pagination{
    text-align: center;
    margin-top: 20px;
}

.pagination ul{
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.pagination li{
    display: inline-block;
}

.pagination li a{
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
}

.pagination li a:hover:not(.active){
    background-color: #ddd; 
}

.pagination .active{
    color: #fff;
    background-color: #4b5adf;
}

.not__found{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    font-weight: bold;
    font-family: sans-serif;
}