.right h1{
    font-size: 30px;
}

.right h1 i{
    margin-right: 10px;
}

.setting_list{
    display: table;
    width: 100%;
    margin-top: 20px;
}

.setting_tool{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.search_form,
.search_form form{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_form form select,
.search_form form input{
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.search_form form input{
    outline: none;
    border: 1px solid #ccc;
    width: 300px;
}

.search_form form button{
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border-color: #eee;
}

.search_form form input:focus{
    border-bottom: 1px solid #333030;
}

#search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .setting_tool select, .setting_tool input{
    display: block;
} */

.add_setting{
    display: flex;
    align-items: center;
}

table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.pagination{
    text-align: center;
    margin-top: 20px;
}

.pagination li{
    display: inline-block;
}

.not__found{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    font-weight: bold;
    font-family: sans-serif;
}