/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 15, 2022, 1:45:44 AM
    Author     : long
*/
.right_content{
    font-family: sans-serif;
}

h1 {
    display: block;
    font-size: 50px;
    margin-bottom: 20px;
}
form {
    color: #070767;
    margin: 0 auto;
    text-align: left;
    padding: 25px;
    display: block;
    width: 50%;
    border: 2px solid black;
    background-color: wheat;
    border-radius: 8px;
}

h2, h3 {
    font-size: 40px;
}
table {
    width: 100%;
}
th, td {
    font-size: 22px;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid black;
}

input {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 20px;
}

select {
    width: 100%;
    font-size: 22px;
    padding: 5px;
    border-radius: 10px;
}

.abtn .back{
    background-color: #00cccc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
}

.abtn .save{
    background-color: #ff6666;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
}


input[type=submit] {
    background-color: lightgray;
}

input[type=date],[type=submit],[type=radio] {
    padding: 10px;
    width: fit-content;
}
.submenu{
    bottom: -270px;
}