/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 12, 2022, 6:48:35 PM
    Author     : long
*/
h1 {
    margin-bottom: 30px;
}

table, tr, td{
    font-size: 0.8rem;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}
th {
    text-align: center;
}
td {
    text-align: left
}

label {
    font-size: 22px;
}

input[type=text], [type=email], [type=date] {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
select {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
input[type=submit] {
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    background-color: lightgray;
}

.new_registration_link {
    font-size: 20px;
    font-weight: normal;
    display: inline-block;
}

.filter_form {
    float: right;
}

.main_table{
    overflow-x: scroll;
}

.pagination {
    width: fit-content;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.pagination span {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    background-color: lightgray;
}

.pagination a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    background-color: lightgreen;
}
.submenu{
    bottom: -270px;
}

td a{
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px;
    color: #fff;
    background-color: #65badc;
    border-radius: 5px;
}

td a:hover{
    background-color: #3cadda;
    color: #fff;    
}

.action__edit{
    background-color: orange;
}

.action__edit:hover{
    background-color: #e4b050;
}