#main{
    padding: 30px;
}

.registration__content{
    display: flex;
    height: 90vh;
    justify-content: space-between;
}

.registration__content .left{
    width: 70%;
    height: 100%;
}

.registration__content .right{
    width: 20%;
    height: 100%;
}

.registration__list table{
    display: table;
    width: 100%;
}

/*.registration__list table, 
.registration__list tr,
.registration__list td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
} */

.registration__pagination{
    margin: 20px;
}

.registration__pagination-bar{
    display: flex;
    justify-content: center;
}

.registration__pagination-bar ul{
    list-style: none;
    margin: 0 auto;
}

.registration__pagination-bar li{
    display: inline-block;
    margin: 0 15px;
}

.registration__search-wrapper{
    padding: 0 20px;
}

.registration__search-bar input{
    display: block;
    padding: 5px;
    width: 100%;
    font-size: 18px;
}

.registration__search-category,
.registration__form-search-btn,
.contact__links{
    margin-top: 20px;
}

.registration__form-search-btn,
.contact__links{
    display: flex;
    justify-content: center;
}

.registration__form-search-btn button{
    padding: 5px;
}


table{
    border-collapse: collapse;
    box-shadow: 0  0 10px 5px #e1e5ee;
    background-color: #fff;
    text-align: left;
    overflow: hidden;
    font-family: Mukta, sans-serif;
    display: table;
    width: 100%;
}

thead{
    box-shadow: 0 5px 10px #e1e5ee;
}

th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

td{
    padding: 1rem;
}

tr{
    width: 100%;
}

tr td:nth-child(2){
    width: 10%;
}

tr td:nth-child(3){
    width: 20%;
}

tr td:nth-child(4){
    width: 30%;
}

td img{
    width: 100%;
    height: 100px;
}

tr:nth-child(even){
    background-color: #f4f6fb;
}

.registration__list table{
    display: block;
    overflow-y: hidden;

}

tr td:nth-child(7),
tr td:nth-child(8){

    font-size: 0.7rem;
}

.nav_links li a{
    font-size: 20px;
}

#pagination a{
    margin: auto;
    margin-top: 20px;
}
#pagination span{
    margin: auto;
    margin-top: 20px;
}