.main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

.left__side{
    width: 70%;
    /* border: 1px solid black; */
}

.right__side{
    width: 25%;
}

.blog__thumbnail{
    width: 100%;
    height: 75vh;
    background-color: #d4d4d4;
    margin-bottom: 15px;
}

.blog__title{
    font-weight: bolder;
    font-size: 55px;
}

.blog__thumbnail img{
    width: 100%;
    height: 100%;
}

.blog__short-description h3{
    margin-bottom: 0;
}

.blog__brief-info{
    margin-top: 20px;
}

.blog__brief-info p{
    font-size: 20px;
}

.blog__brief-info i{
    font-size: 20px;
}

.blog__preview{
    margin-top: 20px;
    font-weight: bold;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.blog__content{
    margin-top: 30px;
}

.searchbox_wrapper{
    padding: 20px;
    box-shadow: 0 0 3px 3px #d4d4d4;
}

.searchbox__searchbar input{
    display: block;
    padding: 5px;
    font-size: 16px;
    width: 100%;
}

.searchbox_category{
    margin-top: 15px;
}

.searchbox_category h5{
    margin-bottom: 0;
}

.submit__button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.submit__button button{
    padding: 5px;
}

.searchbox__links{
    margin-top: 20px;
}

.searchbox__link-explore, .searchbox__link-contact{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.option__box {
    width: 25%;
    /* height: 300px; */
}

.option__filter{
    padding: 15px;
    box-shadow: 0 0 3px 3px lightgray;
}

.option__searchbar form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option__searchbar input, .option__searchbar button, .option__sort select{
    font-size: 16px;
    padding: 5px;
}

.option__searchbar input, .option__sort select{
    width: 100%;
}

.option__checkbox{
    margin-top: 15px;
}

.option__checkbox h5{
    margin: 0;
}

.option__checkbox input{
    display: inline-block;
}

.option__options-value{
    display: flex;
    flex-direction: column;
}

.option__sort{
    margin-top: 15px;
}

.search__button{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__button button{
    padding: 5px;
}

.contact__link{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
