<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.commonController.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessDenyController</servlet-name>
        <servlet-class>controller.AccessDenyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.DashboardControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.admin.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailController</servlet-name>
        <servlet-class>controller.admin.UserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFeatureController</servlet-name>
        <servlet-class>controller.admin.LoadFeatureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordNextStepController</servlet-name>
        <servlet-class>controller.commonController.ForgotPasswordNextStepController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.publicController.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>controller.publicController.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>controller.publicController.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSearchController</servlet-name>
        <servlet-class>controller.publicController.BlogSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDetailController</servlet-name>
        <servlet-class>controller.publicController.SubjectDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.commonController.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.commonController.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.commonController.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.commonController.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseRegistrationController</servlet-name>
        <servlet-class>controller.publicController.CourseRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectListController</servlet-name>
        <servlet-class>controller.publicController.SubjectListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.commonController.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterNextStepController</servlet-name>
        <servlet-class>controller.commonController.RegisterNextStepController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSubjectListController</servlet-name>
        <servlet-class>controller.courseContentController.ManageSubjectListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSubjectController</servlet-name>
        <servlet-class>controller.courseContentController.NewSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSearchController</servlet-name>
        <servlet-class>controller.courseContentController.ManageSearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessDenyController</servlet-name>
        <url-pattern>/deny</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordNextStepController</servlet-name>
        <url-pattern>/forgotPasswordNext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/bloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogSearchController</servlet-name>
        <url-pattern>/blogsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDetailController</servlet-name>
        <url-pattern>/subjectdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/admin/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/admin/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFeatureController</servlet-name>
        <url-pattern>/admin/load_feature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseRegistrationController</servlet-name>
        <url-pattern>/courseRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectListController</servlet-name>
        <url-pattern>/subjectList</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>tempfile.dir</param-name>
        <param-value>tmpfiles</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterNextStepController</servlet-name>
        <url-pattern>/registernext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSubjectListController</servlet-name>
        <url-pattern>/managesubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSubjectController</servlet-name>
        <url-pattern>/newsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSearchController</servlet-name>
        <url-pattern>/managesearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
