<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.commonController.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessDenyController</servlet-name>
        <servlet-class>controller.AccessDenyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.admin.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailController</servlet-name>
        <servlet-class>controller.admin.UserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFeatureController</servlet-name>
        <servlet-class>controller.admin.LoadFeatureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>controller.admin.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordNextStepController</servlet-name>
        <servlet-class>controller.commonController.ForgotPasswordNextStepController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.publicController.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>controller.publicController.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>controller.publicController.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSearchController</servlet-name>
        <servlet-class>controller.publicController.BlogSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDetailController</servlet-name>
        <servlet-class>controller.publicController.SubjectDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.commonController.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.commonController.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.commonController.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.commonController.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseRegistrationController</servlet-name>
        <servlet-class>controller.publicController.CourseRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectListController</servlet-name>
        <servlet-class>controller.publicController.SubjectListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.commonController.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderListController</servlet-name>
        <servlet-class>controller.slider.SliderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderDetailController</servlet-name>
        <servlet-class>controller.slider.SliderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusFilterController</servlet-name>
        <servlet-class>controller.slider.StatusFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSliderController</servlet-name>
        <servlet-class>controller.slider.AddSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSliderController</servlet-name>
        <servlet-class>controller.slider.UpdateSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterNextStepController</servlet-name>
        <servlet-class>controller.commonController.RegisterNextStepController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegistrationController</servlet-name>
        <servlet-class>controller.customerControllers.CustomerRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSubjectListController</servlet-name>
        <servlet-class>controller.courseContentController.ManageSubjectListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerRegistrationController</servlet-name>
        <servlet-class>controller.customerControllers.SearchCustomerRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerRegistrationController</servlet-name>
        <servlet-class>controller.customerControllers.UpdateCustomerRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingBlogListController</servlet-name>
        <servlet-class>controller.marketingController.MarketingBlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogController</servlet-name>
        <servlet-class>controller.marketingController.AddBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationListController</servlet-name>
        <servlet-class>controller.saleController.RegistrationListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationSearchController</servlet-name>
        <servlet-class>controller.saleController.RegistrationSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationViewController</servlet-name>
        <servlet-class>controller.saleController.RegistrationViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubCategory</servlet-name>
        <servlet-class>controller.marketingController.GetSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewModifyPostController</servlet-name>
        <servlet-class>controller.marketingController.ViewModifyPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeBlogStatusController</servlet-name>
        <servlet-class>controller.marketingController.ChangeBlogStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseSearchController</servlet-name>
        <servlet-class>controller.publicController.CourseSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSubjectController</servlet-name>
        <servlet-class>controller.courseContentController.NewSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSearchController</servlet-name>
        <servlet-class>controller.courseContentController.ManageSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>controller.slider.ChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCourseBySubcategoryID</servlet-name>
        <servlet-class>controller.marketingController.GetCourseBySubcategoryID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyPostController</servlet-name>
        <servlet-class>controller.marketingController.ModifyPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSliderController</servlet-name>
        <servlet-class>controller.slider.ViewSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserController</servlet-name>
        <servlet-class>controller.admin.ViewUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationEditController</servlet-name>
        <servlet-class>controller.saleController.RegistrationEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonListController</servlet-name>
        <servlet-class>controller.courseContentController.LessonListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPostByFilter</servlet-name>
        <servlet-class>controller.marketingController.GetPostByFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSubjectDetailController</servlet-name>
        <servlet-class>controller.courseContentController.ManageSubjectDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePricepackageController</servlet-name>
        <servlet-class>controller.courseContentController.ManagePricepackageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusPricePackage</servlet-name>
        <servlet-class>controller.courseContentController.ChangeStatusPricePackage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDimensionListController</servlet-name>
        <servlet-class>controller.courseContentController.ManageDimensionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDimensionController</servlet-name>
        <servlet-class>controller.courseContentController.DeleteDimensionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubjectController</servlet-name>
        <servlet-class>controller.courseContentController.EditSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PricePackageViewController</servlet-name>
        <servlet-class>controller.courseContentController.PricePackageViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PricePackageEditController</servlet-name>
        <servlet-class>controller.courseContentController.PricePackageEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PricePackageAddController</servlet-name>
        <servlet-class>controller.courseContentController.PricePackageAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDimensionController</servlet-name>
        <servlet-class>controller.courseContentController.AddDimensionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDimensionController</servlet-name>
        <servlet-class>controller.courseContentController.EditDimensionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicListController</servlet-name>
        <servlet-class>controller.courseContentController.TopicListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTopicController</servlet-name>
        <servlet-class>controller.courseContentController.AddTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTopicController</servlet-name>
        <servlet-class>controller.courseContentController.EditTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTopicController</servlet-name>
        <servlet-class>controller.courseContentController.DeleteTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusLessonController</servlet-name>
        <servlet-class>controller.courseContentController.ChangeStatusLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLessonController</servlet-name>
        <servlet-class>controller.courseContentController.ViewLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonSearchController</servlet-name>
        <servlet-class>controller.courseContentController.LessonSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLessonController</servlet-name>
        <servlet-class>controller.courseContentController.EditLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionListController</servlet-name>
        <servlet-class>controller.test.QuestionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionImportController</servlet-name>
        <servlet-class>controller.test.QuestionImportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAttributesController</servlet-name>
        <servlet-class>controller.test.LoadAttributesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeQuestionStatusController</servlet-name>
        <servlet-class>controller.test.ChangeQuestionStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLessonController</servlet-name>
        <servlet-class>controller.courseContentController.AddLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizzesListController</servlet-name>
        <servlet-class>controller.testContentController.QuizzesListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizViewController</servlet-name>
        <servlet-class>controller.testContentController.QuizViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizEditController</servlet-name>
        <servlet-class>controller.testContentController.QuizEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renderSubCategory</servlet-name>
        <servlet-class>controller.testContentController.renderSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renderCourse</servlet-name>
        <servlet-class>controller.testContentController.renderCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionController</servlet-name>
        <servlet-class>controller.testContentController.AddQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionController</servlet-name>
        <servlet-class>controller.testContentController.EditQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLessonByTopic</servlet-name>
        <servlet-class>controller.testContentController.GetLessonByTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuestionController</servlet-name>
        <servlet-class>controller.testContentController.ViewQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizHandleController</servlet-name>
        <servlet-class>controller.customerControllers.QuizHandleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakingQuizController</servlet-name>
        <servlet-class>controller.customerControllers.TakingQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAnswerFilter</servlet-name>
        <servlet-class>controller.customerControllers.GetAnswerFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreQuizController</servlet-name>
        <servlet-class>controller.customerControllers.ScoreQuizController</servlet-class>
          </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.marketingController.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartController</servlet-name>
        <servlet-class>controller.marketingController.ChartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizReviewController</servlet-name>
        <servlet-class>controller.customerControllers.QuizReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckingQuizController</servlet-name>
        <servlet-class>controller.customerControllers.CheckingQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReviewFilter</servlet-name>
        <servlet-class>controller.customerControllers.GetReviewFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizListController</servlet-name>
        <servlet-class>controller.customerControllers.QuizListForUserController</servlet-class>
           </servlet>
    <servlet>
        <servlet-name>renderPricePackage</servlet-name>
        <servlet-class>controller.saleController.renderPricePackage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PracticeListController</servlet-name>
        <servlet-class>controller.customerControllers.PracticeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PracticeSearchController</servlet-name>
        <servlet-class>controller.customerControllers.PracticeSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PracticeDetalController</servlet-name>
        <servlet-class>controller.customerControllers.PracticeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderTopic</servlet-name>
        <servlet-class>controller.customerControllers.RenderTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderQuizName</servlet-name>
        <servlet-class>controller.customerControllers.RenderQuizName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizDelete</servlet-name>
        <servlet-class>controller.testContentController.QuizDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renderMaximunQuestion</servlet-name>
        <servlet-class>controller.customerControllers.renderMaximunQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessDenyController</servlet-name>
        <url-pattern>/deny</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordNextStepController</servlet-name>
        <url-pattern>/forgotPasswordNext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/bloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogSearchController</servlet-name>
        <url-pattern>/blogsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDetailController</servlet-name>
        <url-pattern>/subjectdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/admin/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/admin/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFeatureController</servlet-name>
        <url-pattern>/admin/load_feature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/admin/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseRegistrationController</servlet-name>
        <url-pattern>/courseRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectListController</servlet-name>
        <url-pattern>/subjectList</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>tempfile.dir</param-name>
        <param-value>tmpfiles</param-value>
    </context-param>
    <context-param>
        <param-name>pagesize</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>profilePictureURL</param-name>
        <param-value>images/default_user_avatar.png</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderListController</servlet-name>
        <url-pattern>/slider/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderDetailController</servlet-name>
        <url-pattern>/slider/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusFilterController</servlet-name>
        <url-pattern>/slider/statusList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSliderController</servlet-name>
        <url-pattern>/slider/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSliderController</servlet-name>
        <url-pattern>/slider/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterNextStepController</servlet-name>
        <url-pattern>/registernext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegistrationController</servlet-name>
        <url-pattern>/myregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSubjectListController</servlet-name>
        <url-pattern>/managesubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerRegistrationController</servlet-name>
        <url-pattern>/registrationsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerRegistrationController</servlet-name>
        <url-pattern>/updateCustomerRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingBlogListController</servlet-name>
        <url-pattern>/marketing/bloglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogController</servlet-name>
        <url-pattern>/marketing/addblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationListController</servlet-name>
        <url-pattern>/sale/registrationlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationSearchController</servlet-name>
        <url-pattern>/sale/registrationsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationViewController</servlet-name>
        <url-pattern>/sale/registrationview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubCategory</servlet-name>
        <url-pattern>/getsubcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewModifyPostController</servlet-name>
        <url-pattern>/marketing/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeBlogStatusController</servlet-name>
        <url-pattern>/marketing/changeblogstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseSearchController</servlet-name>
        <url-pattern>/coursesearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSubjectController</servlet-name>
        <url-pattern>/newsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSearchController</servlet-name>
        <url-pattern>/managesearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/slider/changestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCourseBySubcategoryID</servlet-name>
        <url-pattern>/getcoursebysubcategoryid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyPostController</servlet-name>
        <url-pattern>/marketing/modifypost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSliderController</servlet-name>
        <url-pattern>/slider/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserController</servlet-name>
        <url-pattern>/admin/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationEditController</servlet-name>
        <url-pattern>/sale/registrationedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonListController</servlet-name>
        <url-pattern>/lessonlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPostByFilter</servlet-name>
        <url-pattern>/marketing/GetPostByFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSubjectDetailController</servlet-name>
        <url-pattern>/managesubject/subjectdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePricepackageController</servlet-name>
        <url-pattern>/managesubject/subjectdetail/pricepackagedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusPricePackage</servlet-name>
        <url-pattern>/pricepackage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDimensionListController</servlet-name>
        <url-pattern>/managesubject/subjectdetail/dimension</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDimensionController</servlet-name>
        <url-pattern>/managesubject/subjectdetail/deletedimension</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubjectController</servlet-name>
        <url-pattern>/managesubject/subjectedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PricePackageViewController</servlet-name>
        <url-pattern>/managesubject/subjectdetail/pricepackageview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PricePackageEditController</servlet-name>
        <url-pattern>/managesubject/subjectdetail/pricepackageedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PricePackageAddController</servlet-name>
        <url-pattern>/managesubject/subjectdetail/pricepackageadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDimensionController</servlet-name>
        <url-pattern>/managesubject/subjectdetail/dimensionadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDimensionController</servlet-name>
        <url-pattern>/managesubject/subjectdetail/dimensionedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicListController</servlet-name>
        <url-pattern>/managesubject/subjectdetail/topiclist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTopicController</servlet-name>
        <url-pattern>/managesubject/subjectdetail/addpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTopicController</servlet-name>
        <url-pattern>/managesubject/subjectdetail/topicedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTopicController</servlet-name>
        <url-pattern>/managesubject/subjectdetail/topicdel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusLessonController</servlet-name>
        <url-pattern>/lessonstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLessonController</servlet-name>
        <url-pattern>/viewlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonSearchController</servlet-name>
        <url-pattern>/searchlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLessonController</servlet-name>
        <url-pattern>/editlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionListController</servlet-name>
        <url-pattern>/test/questionlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionImportController</servlet-name>
        <url-pattern>/test/import</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAttributesController</servlet-name>
        <url-pattern>/test/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeQuestionStatusController</servlet-name>
        <url-pattern>/test/changeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLessonController</servlet-name>
        <url-pattern>/addlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizzesListController</servlet-name>
        <url-pattern>/quizzes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizViewController</servlet-name>
        <url-pattern>/quizzes/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizEditController</servlet-name>
        <url-pattern>/quizzes/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renderSubCategory</servlet-name>
        <url-pattern>/rendersubcate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renderCourse</servlet-name>
        <url-pattern>/rendercourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionController</servlet-name>
        <url-pattern>/addquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionController</servlet-name>
        <url-pattern>/editquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLessonByTopic</servlet-name>
        <url-pattern>/getlessonbytopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuestionController</servlet-name>
        <url-pattern>/viewquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizHandleController</servlet-name>
        <url-pattern>/quizhandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakingQuizController</servlet-name>
        <url-pattern>/qhandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAnswerFilter</servlet-name>
        <url-pattern>/filteranswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreQuizController</servlet-name>
        <url-pattern>/score</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartController</servlet-name>
        <url-pattern>/marketing/chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizReviewController</servlet-name>
        <url-pattern>/quizreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckingQuizController</servlet-name>
        <url-pattern>/qreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReviewFilter</servlet-name>
        <url-pattern>/reviewfilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizListController</servlet-name>
        <url-pattern>/quizlist</url-pattern>
          </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renderPricePackage</servlet-name>
        <url-pattern>/renderprice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PracticeListController</servlet-name>
        <url-pattern>/practicelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PracticeSearchController</servlet-name>
        <url-pattern>/searchpractice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PracticeDetalController</servlet-name>
        <url-pattern>/practicedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderTopic</servlet-name>
        <url-pattern>/rendertopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderQuizName</servlet-name>
        <url-pattern>/renderquizname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizDelete</servlet-name>
        <url-pattern>/quizzes/del</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renderMaximunQuestion</servlet-name>
        <url-pattern>/rendermaxquestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
