<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Subject lessons</h1>
    <h4>Subject name: abc xyz 123</h4>
    <form action="#">
        <select name="lesson__type" id="lesson__type">
            <option value="">All lesson types</option>
            <option value="">Subject topic</option>
            <option value="">Lesson</option>
            <option value="">Quiz</option>
        </select>
        <select name="lesson__status" id="lesson__status">
            <option value="">All lesson status</option>
            <option value="">Active</option>
            <option value="">Inactive</option>
        </select>
        <input type="text" placeholder="Type lesson name to search">
    </form>
    <a href="#">Add lesson</a>
    <table>
        <tr>
            <td>ID</td>
            <td>Lesson</td>
            <td>Order</td>
            <td>Type</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Chương 1</td>
            <td>1</td>
            <td>Subject topic</td>
            <td><a href="#">Active</a></td>
            <td><a href="#">Edit</a><a href="#">View</a></td>
        </tr>
    </table>
</body>

</html>