/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 27, 2022, 1:30:50 AM
    Author     : long
*/
.disabled {
    display: none;
}
.main-container {
    position: relative;
    min-height: 100vh;

}

.main-content {
    padding-bottom: 3rem;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    background-color: black;
    text-align: center;
}

.footer div {
    display: block;
    margin: 0 auto;
}
.error {
    font-size: 50px;
    font-weight: bolder;
    color: red;
}
.searchForm {
    float: right;
    margin-bottom: 25px;
}

input[type=text] {
    margin-right: 10px;
    border: 2px solid blue;
    padding: 5px 10px;
    border-radius: 10px;
}

input[type=submit] {
    margin-left: 10px;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    padding: 8px 14px;
    background-color: rgba(54, 146, 54, 0.8);
    transition: all;
    transition-duration: 0.7s;
    color: white;
}

input[type=submit]:hover {
    background-color: #c7a130;

}

.newlink {
    text-decoration: none;
    color: white;
    line-height: 40px;
    float: left;
    padding: 5px 15px;
    border-radius: 50px;
    background-color: #0056d2;
    transition: all;
    transition-duration: 0.5s;
}

.newlink:hover {
    color: #070767;
    background-color: #4CAF50;
}

table{
    clear: both;
    margin-top: 25px;
    border-collapse: collapse;
    box-shadow: 0  0 10px 5px #e1e5ee;
    background-color: #fff;
    text-align: center;
    font-family: Mukta, sans-serif;
    display: table;
    width: 100%;
}

thead{
    background-color: #fff;
    box-shadow: 0 5px 10px #e1e5ee;
}

th{
    padding: 0.7rem 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    font-weight: 900;
}

td{
    font-size: 0.8rem;
    padding: 0.7rem;
}

tr{
    width: 100%;
}

tr:nth-child(even){
    background-color: #f4f6fb;
}

.pag a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
    border: 1px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    transition: background-color .2s;
}

/*.pag .active {
    background-color: #1fe21e;
    color: #fff;
}

.pag a:hover {
    color: white;
    background-color: gray;
}*/

.btn_view{
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px;
    color: #fff;
    background-color: #65badc;
    border-radius: 5px;
}

.btn_view:hover{
    background-color: #3cadda;
    color: #fff;
}

.btn_edit{
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    background-color: orange;
}

.btn_edit:hover{
    color: #fff;
    text-decoration: none;
    background-color: #e4b050;
}

.right_content{
    padding: 30px;
}

tfoot tr td a{
    color: #000;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 0;
}

tfoot tr td a:not(.active):hover{
    background-color: #bcb6b6;
}

tfoot tr td a.active{
    background-color: #1fe21e;
    color: #fff;  
}
.btn_del{
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px;
    color: #fff;
    background-color: #ff6666;
    border-radius: 5px;
}

.btn_del:hover{
    background-color: #ff3333;
    color: #fff;
}

