/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jun 14, 2022, 6:01:22 PM
    Author     : Zuys
*/

.top__header{
    background-color: black;
    color: black;   
}
