@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --main-color: #0056d2;
    --success-background: #c8e6c9;
    --success-color: #388e3c;
    --fail-background: #ffcdd2;
    --fail-color: #c62828;
    --pending-background: #fff0c2;
    --pending-color: #a68b00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.error{
    color: red;
    text-align: center;
    margin: 200px;
}

.error p{
    font-size: 60px;
    margin-bottom: 0;
}

/*add an object*/
.addlink:link, .addlink:visited {
    background-color: #0056d2;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.addlink{
    border-radius: 20px;
    margin: 20px 0 0 10px;
}

.addlink:hover, .addlink:active{
    background-color: #4CAF50;
}

img{
    object-fit: cover;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 200px;
    background-color: #000;
    font-size: 0.8rem;
    color: #fff;
}

footer p{
    margin: 0;
}

.footer__group{
    font-weight: bold;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #686d71 !important;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: green !important;
    text-decoration: underline;
}


/*Add css link to detail */
.detailink{
    color: black;
    background-color: grey;

}

.detailink:hover{
    color: green;
    background: rgba(76, 175, 80, 0.3)

}

.pagination{
    margin-left: 33%;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.pagination span
{
    color: white;
    font-size: 27px;
    border: 1px;
    padding: 10px 25px;
    background-color: #4CAF50;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.pagination a
{
    transition: background-color .2s;
    color: black;
    text-decoration: none;
    font-size: 27px;
    border:1px;
    padding: 10px 25px;
    border-radius: 10px;

}

.pagination a:hover{
    color: white;
    background: grey;
}

.pagination{
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}


.currentnav:link, .currentnav:visited{
    background-color: #ff690c !important;
    color: black !important;
}

.non-scroll{
    display: block    !important ;
    overflow-y: hidden !important;
}


.view__alink {
    background-color: #65badc;
    color: #fff;
    text-decoration: none;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    border: none;
}

.edit_alink{
    background-color: orange!important;
    text-decoration: none;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    border: none;
    color: #fff;
}

.delete_alink{
    background-color: darkgrey;
    color: #fff;
    text-decoration: none;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    border: none;
}

.status__active{
    background-color: #c8e6c9;
    color: #388e3c;
    border-radius: 0.2rem;
    padding: 0.2rem;
    text-align: center;
    font-size: 0.8rem;
}


.status__inactive{
    background-color: #ffcdd2;
    color: #c62828;
    border-radius: 0.2rem;
    padding: 0.2rem;
    text-align: center;
    font-size: 0.8rem;
}

.addlink_ver2 {
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 10px;
    color: #fff;
    background-color: #3db743;
    border-radius: 10px;
}
tfoot tr td a{
    color: #000;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 0;
}

tfoot tr td a:not(.active):hover{
    background-color: #bcb6b6;
}

tfoot tr td a.active{
    background-color: #1fe21e;
    color: #fff;
}

.submitted{
    color: red;
}

.paid{
    color: green;
}

.edit_button{
    background-color: orange;
    color: #fff;
    border-radius: 0.2rem;
    padding: 0.2rem;
    margin-bottom: 10px;
}

.cancel_button{
    padding: 0.2rem;
    background-color: #ffcdd2;
    color: #c62828;
    text-align: center;
    width: 60px;
    border-radius: 0.2rem;

}

.addlink_ver3{
    margin-left: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 10px;
    color: #fff;
    background-color: #65badc;
    border-radius: 10px;
}

.search__key{
    padding: 12px;
    border-radius: 10px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    background-color: #4b5adf;
    color: #fff;
}



