@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.error{
    color: red;
    font-size: 50px;
    text-align: center;
    margin: 300px  200px ;
}

.addlink:link, .addlink:visited {
    background-color: #0056d2;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

.addlink{
    border-radius: 20px;
    margin: 20px 0 0 10px;
}

.addlink:hover, .addlink:active{
    background-color: #4CAF50; 
}

img{
    object-fit: cover;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 200px;
    background-color: #000;
    font-size: 0.8rem;
    color: #fff;
}

footer p{
    margin: 0;
}

.footer__group{
    font-weight: bold;
}