@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.error{
    color: red;
    font-size: 50px;
    text-align: center;
    margin: 300px  200px ;
}

.addlink:link, .addlink:visited {
    background-color: #0056d2;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.addlink{
    border-radius: 20px;
    margin: 20px 0 0 10px;
}

.addlink:hover, .addlink:active{
    background-color: #4CAF50;
}

img{
    object-fit: cover;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 200px;
    background-color: #000;
    font-size: 0.8rem;
    color: #fff;
}

footer p{
    margin: 0;
}

.footer__group{
    font-weight: bold;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #686d71 !important;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: green !important;
    text-decoration: underline;
}


/*Add css link to detail */
.detailink{
    color: black;
    background-color: grey;

}

.detailink:hover{
    color: green;
    background: rgba(76, 175, 80, 0.3)

}

.pagination{
    margin-left: 33%;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.pagination span
{
    color: white;
    font-size: 27px;
    border: 1px;
    padding: 10px 25px;
    background-color: #4CAF50;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.pagination a
{
    transition: background-color .2s;
    color: black;
    text-decoration: none;
    font-size: 27px;
    border:1px;
    padding: 10px 25px;
    border-radius: 10px;

}

.pagination a:hover{
    color: white;
    background: grey;
}

.pagination{
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
