header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px -8px 10px 4px rgb(0 0 0 / 60%);
}

.header__container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

header img{
    height: 65px;
    margin-left: 70px;
    object-fit: contain;
}

header nav .nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

header nav ul li{
    position: relative;
    padding: 0 12px;
    cursor: pointer;
}

header nav ul li a{
    text-decoration: none;
    color: #0056d2;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Helvetica","Helvetica Neue",Arial,"Lucida Grande",'Quicksand', sans-serif;
}

header nav ul li a::after{
    display: block;
    content: '';
    border-bottom: solid 3px #0056d2;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: 0.4s ease-in-out;
}

header nav ul.nav__links li:hover .nav__item:not(.nav__item__login):after,
ul.submenu li:hover a::after{
    transform: scaleX(1);
}

ul.nav__links li i{
    margin-left: 10px;
}

ul.submenu{
    display: none;
    width: 170px;
    position: absolute;
    background-color: #fff;
    padding: 5px 0;
    z-index: 99999;
    list-style: none;
}

ul.submenu li.submenu__item{
    padding: 5px 15px!important;
}

header nav ul.nav__links li:hover ul.submenu{
    display: block;
} 


