.block__item {
    width: 100%;
    height: 90vh;
    background-color: #d4d4d4;
}

.block__item img{
    width: 100%;
    height: 100%;
}
.post {
    padding: 40px;
}

.post h1,
.subject h1 {
    color: #7e7a7a;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: capitalize;
}

.subject h1{
    margin-left: 120px;
    text-transform: capitalize;
}

.post__heading{
    width: 90%;
    margin: 0 auto;
}

.post__heading p{
    color: #bbb;
    text-transform: capitalize;
}

.post__wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 30px;
}

.post__item {
    width: 31%;
    position: relative;
    /*box-shadow: 1px 1px 1px 1px grey;*/
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*height: 60vh;*/
    height: 470px;
    overflow: clip;
}

.post__form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-decoration: none;
    color: #aaa;
}

.post__form:hover{
    color: #aaa;
}

.post__info {
    width: 100%;
    font-size: 17px;
}

.post__content{
    padding: 20px 30px;
    border-bottom: 1px solid #eee;
    height: 200px;
}

.post__content .post__title p{
    font-size: 1.3rem;
    margin: 0;
}

.post__title {
    margin-bottom: 15px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: #575454;
}

.post__thumbnail {
    width: 100%;
    height: 210px;
    background-color: #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.post__thumbnail img{
    transition: all 0.5s ease-in-out;
}

.post__thumbnail:hover img{
    transform: scale(1.1);
}

.post__short{
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    right: 30px;
    bottom: -10px;
}

.post__short p:first-child{
    margin-right: 15px;
}

.post__short i{
    margin-right: 5px;
}

.post__thumbnail img{
    width: 100%;
    height: 100%;
}

.post__item .post__detail a {
    color: #000;
    text-decoration: none;
}

.post__item .post__detail a:hover {
    text-decoration: underline;
}

.post__detail {
    background: none;
    border: none;
    text-align: left;
    height: 100%;
    display: inline-flex;
    justify-content: flex-start;
}

.subject {
    margin-top: 40px;
    padding-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.subject__container {
    margin-top: 30px;
    padding: 20px;
}

.subject__content {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.subject__content::-webkit-scrollbar {
    display: none;
}

.subject__card {
    width: 300px;
    flex: 0 0 auto;
    /*padding: 15px;*/
    margin-right: 40px;
    /*box-shadow: 1px 1px 1px 1px grey;*/
    border: 1px solid #eee;
    display: flex;
    flex-wrap: wrap;
}

.subject__card .post__detail a{
    color: #000;
    text-decoration: none;
}

.subject__card .post__detail a:hover{
    text-decoration: underline;
}

/*.subject__description{
    height: 400px;
}*/


.course__detail{
    position: relative;
}

.course__detail a:hover{
    opacity: 0.6;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

#slider, .carousel-item{
    height: 670px;
}

.carousel-item a{
    display: block;
    height: 100%;
    width: 100%;
}



.carousel-item a .block__item,
.carousel-item a .block__item img{
    height: 100%;
}

.subject__card img{
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subject__details{
    padding: 15px;
    text-decoration: none;
}

.subject__details p{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.subject__link{
    text-decoration: none;
    color: #aaa;
}

.subject__link:hover{
    color: #aaa;
}

.subject__link p{
    font-weight: lighter;
    font-size: 17px;
}

