.block__item {
    width: 100%;
    height: 90vh;
    background-color: #d4d4d4;
}

.block__item img{
    width: 100%;
    height: 100%;
}
.post {
    padding: 40px;
}

.post h1,
.subject h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
}

.post__wrapper {
    display: flex;
    width: 90%;
    height: 60vh;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 30px;
}

.post__item {
    width: 20%;
    padding: 15px;
    position: relative;
    box-shadow: 1px 1px 1px 1px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post__info {
    width: 100%;
}

.post__short {
    position: absolute;
    text-align: center;
    font-size: 0.5rem;
    border: 2px solid black;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    right: -10%;
    top: -5%;
}

.post__title {
    font-weight: 600;
    margin-top: 10px;
}

.post__thumbnail {
    width: 100%;
    height: 150px;
    background-color: #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post__thumbnail img{
    width: 100%;
    height: 100%;
}

.post__item .post__detail a {
    color: #000;
    text-decoration: none;
}

.post__item .post__detail a:hover {
    text-decoration: underline;
}

.post__detail {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 27%;
}

.post__detail button{
    padding: 6px;
    border-radius: 15px;
}

.subject {
    margin-top: 40px;
    padding-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.subject__container {
    margin-top: 30px;
    padding: 20px;
}

.subject__content {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.subject__content::-webkit-scrollbar {
    display: none;
}

.subject__card {
    width: 300px;
    flex: 0 0 auto;
    padding: 15px;
    margin-right: 40px;
    box-shadow: 1px 1px 1px 1px grey;
}

.subject__card .post__detail a{
    color: #000;
    text-decoration: none;
}

.subject__card .post__detail a:hover{
    text-decoration: underline;
}

.subject__description{
    height: 400px;
}


.course__detail{
    position: absolute;
    bottom: 50px;
}

.course__detail a:hover{
    opacity: 0.6;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}