/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 23, 2022, 12:27:10 AM
    Author     : Hai Duong
*/

table{
    border-collapse: collapse;
    box-shadow: 0  0 10px 5px #e1e5ee;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    font-family: Mukta, sans-serif;
    display: block;
    width: 100%;
    max-height: 420px;
    overflow-y: scroll;
    position: relative;
}

table, tr, th, td{
    border: none;
}

thead{
    background-color: #fff;
    box-shadow: 0 5px 10px #e1e5ee;
    position: sticky;
    top: 0;
}

th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

td{
    padding: 1rem;
}

tr{
    width: 100%;
}

tr:nth-child(even){
    background-color: #f4f6fb;
}

td p{
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}