/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 24, 2022, 10:45:21 PM
    Author     : ADMIN
*/

.headnav:link{
    color: white !important;
}

.headnav:visited{
    color: white !important;

}

.nav{
    background-color: white !important;
}

.content{
    margin: 20px;
}

.nav.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "";
}

img{
    width: 100%;
}

.notification{
    color: red;
}
.addquestion{
    margin-left: 23px;
}