/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 29, 2022, 10:34:46 PM
    Author     : ADMIN
*/

footer{
    margin-top: 200px;  
}

.submit{
    margin-top: 20px;
}