/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 27, 2022, 7:07:42 PM
    Author     : ADMIN
*/

table{
    display: block    !important ;
    overflow-y: hidden !important;
}

footer{
    margin-top: 20px;
}


.addlink_ver2{
       margin-left: 207px;
}

.table__content{
    margin-top: 30px;
}
