/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 10, 2022, 9:01:37 PM
    Author     : ADMIN
*/

.addlink_ver2 {
        margin-left: 430px;
}       

footer{
    margin-top: 200px;
}