/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license

*/
/* 
    Created on : May 26, 2022, 8:54:02 PM
    Author     : ADMIN
*/

.message__box p{
    text-align: center;
    color: red;

}

